# python
**/venv
**/__pycache__
**/.venv 
**/*.env
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/.pylintrc
dump.sql
ats.db
database.db
gen-lang-client-0856159749-51f45a3093d6.json
_database.dbs
reset_candid.sql
server/jobs/2024*
clean_candidate.py
server/cvs/2024*
deploy.sh
server/images/*
rsa*
.mypy_cache
pta/*
