@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --gradient-sky: linear-gradient(45deg, rgba(2, 132, 199, 0.5), rgba(2, 132, 199, 0.5));
  --gradient-black: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  /*line-height: 1.5;*/
  /*font-weight: 400;*/

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
    height: 100%;
    @apply w-full h-full px-4 flex flex-col items-center;
}

a {
    @apply capitalize;
}
a:hover {
  @apply inline-block;
}
.nav {
    overflow: hidden;
}
.nav a.active {
    @apply relative shadow-inner bg-gray-100 rounded-t-xl text-gray-600;
}

.nav a.active::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: -20px;
    background-color: white;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px rgb(243 244 246 / var(--tw-bg-opacity));
}

.nav a.active::after {
        content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: -20px;
    background-color: white;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0 5px rgb(243 244 246 / var(--tw-bg-opacity));

}

body {
    height: 100%;
    min-height: 100%;
    @apply !bg-gray-100;
}

body::-webkit-scrollbar {
    width: 0.2em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.home .hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: 
    url('./assets/ats-0x05.svg');
    /* #0284c7*/
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center 90%;
     z-index: -1;
    @apply sm:bg-[length:700px] sm:[background-position:90%_70%] sm:opacity-30 lg:opacity-100;
}

.home .how-it-work {
    box-shadow: 0 0 0 100vw white;
    clip-path: inset(0 -100vw);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

li > a {
    height: 100%;
}

.footer {
    box-shadow: 0 0 0 100vw white;
    clip-path: inset(0 -100vw);
}
.footer .copyright {
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    box-shadow: 0 0 0 100vw rgb(243 244 246 / var(--tw-bg-opacity));
    clip-path: inset(0 -100vw);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
